%div.page
  %div.notification チャットグループが作成されました
  %div.pageheader.clearfix
    %div.pageheader__leftside
      %div.pageheader__leftside--aboutgroup
        %p.pageheader__leftside--aboutgroup--username 
          =current_user.name
        %div.pageheader_leftside--aboutgroup--icons.fa-lg
          =link_to "/" , class:"icon_link" do
            %i.fa.fa-pencil-square-o.icon--white
          =link_to edit_user_path(current_user) , class:"icon_link" do
            %i.fa.fa-cog.icon--white
    %div.pageheader__rightside
      %div.pageheader__rightside__groupname groupname
      %div.pageheader__rightside__editbutton
        =link_to "/" , class:"icon_link" do
          %p.pageheader__rightside__editbutton--string Edit
      %p.pageheader__rightside__membername Members: membername
  %div.pagebody.clearfix
    %div.pagebody__left
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
    %div.pagebody__main
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      %div.pagefooter
        %form.pagefooter__form
          %input(placeholder="type a message" class="pagefooter__form--input")
            %label
              %i.fa.fa-image.pagefooter__form--icon
              %input(type="file" id="pagefooter--filesend")
          %input(type="submit" name="aaa" value="Send" class="pagefooter__form--button")
