%div.page
  %div.announce チャットグループが作成されました
  %div.pageheader.clearfix
    %div.pageheader__leftside
      %div.pageheader__leftside--aboutgroup
        %p aaa111
        %div.pageheader_leftside--aboutgroup--icons
          %a(href="#")
            %i.fa.fa-pencil-square-o.color
          %a(href="#")
            %i.fa.fa-cog.color
    %div.pageheader__rightside
      %div.pageheader__rightside--groupname aaa111
      %div.pageheader__rightside--editbutton
        %p.pageheader__rightside--editbutton--string Edit
      %div.pageheader__rightside--membername Members: dwrfwfgqgfs
  %div.pagebody.clearfix
    %div.pagebody__left
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'
      = render partial: 'group'

    %div.pagebody__main
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      = render partial: 'chatmessage'
      %div.pagefooter
        %div.pagefooter_bar
